<div>

  <md-toolbar>Register Form</md-toolbar>
  
    <md-input-container class="example-full-width">
      <input mdInput placeholder="First Name">
    </md-input-container>
        <md-input-container class="example-full-width">
      <input mdInput placeholder="Last Name">
    </md-input-container>
        <md-input-container class="example-full-width">
      <input mdInput placeholder="Mobile Number">
    </md-input-container>
    <md-input-container class="example-full-width">
      <input mdInput type="email" placeholder="EMail">
    </md-input-container>


  <md-toolbar>
    <button md-raised-button>Submit</button>
  </md-toolbar>

</div>
