<div class="container">
	<div class="card">
	
		<header class="card-header">
		<div class="columns is-mobile">
			<div class="column is-narrow">
				<p class="card-header-title">House and Land Packages</p>
			</div>
			<div class="column is-narrow">
				<div class="field">
				  <p class="control">
					<span class="select">
					  <select>
						<option>Builder</option>
						<option>Builder 2</option>
					  </select>
					</span>
				  </p>
				</div>
			</div>
			
			<div class="column is-narrow">
				<div class="field">
				  <p class="control">
					<span class="select">
					  <select>
						<option>Price</option>
						<option></option>
					  </select>
					</span>
				  </p>
				</div>
			</div>
			
			<div class="column is-narrow">
				<div class="field">
				  <p class="control">
					<span class="select">
					  <select>
						<option>Frontage</option>
						<option></option>
					  </select>
					</span>
				  </p>
				</div>
			</div>
			<div class="column is-narrow">
				<div class="field">
				  <p class="control">
					<span class="select">
					  <select>
						<option>Lot Number</option>
						<option></option>
					  </select>
					</span>
				  </p>
				</div>
			</div>
			
		</div>
			
			
		</header>
    
    <div class="card-content">
		  <div class="columns is-multiline">

			<div class="column is-one-third-desktop is-half-tablet" *ngFor="let handl of handlList; let i = index">

        <!-- Package Card : Begin-->
				<div class="card">

          <!-- Package Image : Begin-->
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{handl.imagepath}}" alt="Image"><a href="#"><i class="fa fa-print"></i></a>
            </figure>
          </div>
          <!-- Package Image : End-->

          <!-- Package Card Content : Begin-->
			    <div class="card-content">
				  <div class="columns is-mobile">
            <!-- Content Column 1 : Begin-->
					  <div class="column">
						  <div class="content house-info">
						    <h5 class="title is-3">$ {{handl.productprice}}</h5>
						    <p><strong>{{handl.designproductname}} {{handl.planproductname}}</strong></p>
						    <div class="spacer"></div>
						    <p>Lot {{handl.lotproductname}}</p>
							  <div class="spacer"></div>
						    <span class="bed-bath-shower">
						    {{handl.noofbedrooms}} <i class="fa fa-bed"></i>
						    {{handl.noofbathrooms}} <i class="fa fa-shower"></i>
					      {{handl.noofcarparks}} <i class="fa fa-car"></i>
						    </span>
						  </div>
					  </div>
            <!-- Content Column 1 : End-->
            <!-- Content Column 1 : Begin-->
					  <div class="column">
						  <img class="builder-logo" src="assets/images/Porter-Davis-logo.png" alt="builder_logo">
						  <div class="home-dimensions">
							  <p>Home Area: {{handl.homesize}} m<sup>2</sup><br>
							  Living Area: {{handl.homesize}} m<sup>2</sup><br>
							  Garage Area: 0m<sup>2</sup><br>
							  Study: Yes
						  </p>
						  </div>
						</div>
            <!-- Content Column 2 : End-->
				  </div>	
			  </div>
        <!-- Package Card Content : End-->

			  </div>
        <!-- Package Card : End-->

			</div>
      
			<!--<div class="column">
				
			</div>
			<div class="column">
				
			</div>-->
			
			
		</div>
			<a href="#" class="button is-info">View More</a>
    </div>

	</div>
</div>