<section class="hero top-hero is-warning is-large">
  <div class="hero-body">
    <div class="container">
    <div class="estate-logo">
    	<img src="assets/images/Quay2@3x.png" width="200" alt="quay2 logo">
    </div>
      <h1 class="title">
        The Thompson Release is coming!
      </h1>
      <div class="columns">
  <div class="countdown-column column is-half is-offset-one-quarter">
  	<div class="columns is-mobile">
  <div class="column is-narrow is-mobile">
    <div class="card count-card">
    	<div class="count-time">
    		<h4 class="title is-1">33</h4>
   		<p class="subtitle is-5">Days</p>
    	</div>
    </div>
    
  </div>
  <div class="column is-narrow is-mobile">
   <div class="card count-card">
   	<div class="count-time">
   		<h4 class="title is-1">09</h4>
   		<p class="subtitle is-5">Hours</p>
   	</div>
   </div>
    
  </div>
  <div class="column is-narrow is-mobile">
   <div class="card count-card">
   	<div class="count-time">
   		<h4 class="title is-1">25</h4>
   		<p class="subtitle is-5">Minutes</p>
   	</div>
   	
   </div>
    
  </div>

</div>
  </div>
  
</div>
     <div class="hero-buttons">
     	 <a class="button is-info">More Info</a>
       <a class="button is-primary" (click)="registerButtonClick()">Register</a>
     </div>
 <div class="social-buttons">
 	<a href="#"><img src="assets/images/facebook_1@3x.png" alt=""></a>
 	<a href="#"><img src="assets/images/twitter_1@3x.png" alt=""></a>
 	<a href="#"><img src="assets/images/link_1@3x.png" alt=""></a>
 </div>
      
    </div>
  </div>
</section>


<section class="list-section">
  <app-land-list [estateCpId]="estateCpId"></app-land-list>
</section>

<section class="list-section">
  <app-handl-list [estateCpId]="estateCpId"></app-handl-list>
</section>


<section class="list-section map-section">
<div class="container">
<div class="card">
	<div class="columns">
		<div class="column map-column">
			<img class="map-image" src="assets/images/map.jpg" alt="">
			
		</div>
		<div class="column info-column">
			<h4 class="title is-4">Sales &amp; Information</h4>
			<hr>
			<div class="contact-info">
				<p><i class="fa fa-map-marker"></i> Cnr Surf Coast Hwy &amp; Merrijig Drive</p>
				<p><i class="fa fa-phone"></i> 03 1234 1245</p>
				<p><i class="fa fa-clock-o"></i> Opens 7 days a week 11am to 5pm</p> 

				<div class="hero-buttons">
     	 <a class="button is-info">Get Direction</a>
     <a class="button is-primary">Contact Us</a>
     </div>
			</div>
		</div>
		
	</div>
</div>
	
</div>
	
</section>


<nav class="nav footer-nav">
 <div class="container">
 	 <div class="nav-left">
   <span class="nav-item">&copy; Copyright 2017 Naional Pacific Properties</span>
    
  </div>

  <div class="nav-center">
    <div class="nav-item">
      <img src="assets/images/redlogowhite.png" height="50px" alt="RED 23 logo">
    </div>
	<div class="nav-item">
      <img src="assets/images/quaywhite@3x.png" height="50px" alt="RED 23 logo">
    </div>
  </div>

 
  <div class="nav-right">
    <a class="nav-item">Privacy Policy</a>
    <span class="nav-item">|</span>
    <span class="nav-item">Call 1300 653 170</span>
  </div>
 </div>
 
</nav>
