<nav class="nav">
  <div class="container">
   <div class="nav-left">
   	<a class="nav-item">
        <img src="assets/images/red_dark.png" height="50px" alt="RED 23 logo">
      </a>
   </div>
    <div class="nav-center">
      
      <a class="nav-item is-tab is-hidden-mobile">Our Communities</a>
      <a class="nav-item is-tab is-hidden-mobile">Our Service</a>
      <a class="nav-item is-tab is-hidden-mobile">Why Red23</a>
      <a class="nav-item is-tab is-hidden-mobile">About Us</a>
      <a class="nav-item is-tab is-hidden-mobile">Contact Us</a>
      
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a class="nav-item is-tab is-hidden-tablet">Our Communities</a>
      <a class="nav-item is-tab is-hidden-tablet">Our Service</a>
      <a class="nav-item is-tab is-hidden-tablet">Why Red23</a>
      <a class="nav-item is-tab is-hidden-tablet">About Us</a>

      
      <div class="field header-search">
		  <p class="control has-icons-left">
			<input class="input" type="search" placeholder="Search">
			<span class="icon is-left">
			  <i class="fa fa-search"></i>
			</span>

		  </p>
		</div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>