<div class="container">
	<div class="card">
	
		<header class="card-header">
		<div class="columns">
			<div class="column is-narrow">
				<p class="card-header-title">Land List</p>
			</div>
			<div class="column is-narrow">
				<div class="field">
				  <p class="control">
					<span class="select">
					  <select >
							<option *ngFor="let lotnumber of lotNumberList" [value]="lotnumber">{{ lotnumber }}</option>
					  </select>
					</span>
				  </p>
				</div>
			</div>
			
			<div class="column is-narrow">
				<div class="field">
				  <p class="control">
					<span class="select">
					  <select>
						<option>Frontage</option>
						<option>Builder 2</option>
					  </select>
					</span>
				  </p>
				</div>
			</div>
			
			<div class="column is-narrow">
				<div class="field">
				  <p class="control">
					<span class="select">
					  <select>
						<option>Area</option>
						<option>Builder 2</option>
					  </select>
					</span>
				  </p>
				</div>
			</div>
			
			<div class="column is-narrow">
				<div class="field">
				  <p class="control">
					<span class="select">
					  <select >
							<option *ngFor="let status of statusList" [value]="status">{{ status }}</option>
					  </select>
					</span>
				  </p>
				</div>
			</div>

		</div>
			
			
		</header>
		<div class="card-content">
			<table class="table is-striped">
				<thead>
					<tr>
						<th></th>
						<th>Lot</th>
						<th>Frontage</th>
						<th>Depth</th>
						<th>Area</th>
						<th>Price</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let lot of lotList | lotlistFilter: lotCriteria; let i = index">
						<td><a href="#"><i class="fa fa-info-circle"></i></a></td>
						<td>{{lot.productname}}</td>
						<td>{{lot.productwidth}}</td>
						<td>{{lot.productdepth}}</td>
						<td>{{lot.productsize}}</td>
						<td>{{lot.productprice}}</td>
						<td>{{lot.currentstatusname}}</td>
						<td><a href="#"><i class="fa fa-map-marker"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>