nav.nav{
	height: 70px;
}
.hero.top-hero .hero-body{
	padding-top: 0;
}
.hero-body .estate-logo{
	padding:50px 0 30px 0;
}
.hero.top-hero{
	background-color:#57c5fa;
  background: url('../images/lifeatquay.jpg') no-repeat center fixed;
	background-size: cover;
	object-fit: cover;
	text-align: center;
}
.count-time{
	padding: 25px 20px;
}
.countdown-column.column .columns{
	width: 462px;
	margin: 0 auto;
	text-align: center;
	align-content: center;
}
.count-card.card{
	width: 130px;
}
table.table tr th{
	text-align: center;
}
table.table tr td{
	text-align: center
}
.list-section{
	padding: 20px 0;
}
.card-header{
	background: #1F2849;
}
.card-header p.card-header-title{
	color: #fff;
}
.card-header .field{
	padding-top: 5px;
}
.card-header .field select{
	background: rgba(255,255,255,0.5)!important;
}
a{
	color: #57c5fa;
}
.select{
	color: #fff;
}
.select::after{
	border:1px solid #fff;
	border-right: 0;
	border-top: 0;
}
.house-info h5.title.is-3{
	margin-bottom: 0;
}

.house-info p{
	margin-bottom: 0!important;
}
.spacer{
	float: none;
	clear: both;
	height: 10px;
	width: 100%;
}
.builder-logo{
	margin-bottom: 20px;
}
span.bed-bath-shower{
	font-size: 18px;
}
span.bed-bath-shower i{
	font-size: 16px;
	padding-right: 8px;
	padding-top: 4px;
	color: #1F2849;
}
figure.image a i{
	position: absolute;
	top: 10px;
	right: 15px;
	color: rgba(255,255,255,0.7);

}
.home-dimensions p{
	font-size: 14px;
}
.hero-buttons .button{
	width: 200px;
}
.button.is-info{
	background: #B7B7B7;
}
.button.is-info:hover{
	background: #aaa;
}
.button.is-primary{
	background: #1F2849
}
.button.is-primary:hover{
	background: #171F3E;
}
.header-search{
	padding-top: 18px;
}
.nav-item a.is-tab, a.nav-item.is-tab{
	border: 0!important;
}
section.map-section .card{
	height: 300px;
}
section.map-section .card .map-column.column{
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
}
.info-column.column{
	padding-left: 0;
}
.info-column h4{
	padding-left:30px;
}
.info-column .contact-info{
	padding:0 30px
}
.info-column .contact-info p{
	padding-bottom: 10px;
	font-size: 18px;
	font-weight: 400;
}
.info-column .contact-info p i{
	margin-right: 15px;
}
.map-column img.map-image{
	height: 300px;
	width: 100%;
	object-fit: cover;
}
nav.footer-nav{
	background: #111;
	color: #fff;
}
nav.footer-nav a{
	color:#fff;
}
.social-buttons{
	padding-top: 30px;
	width: 150px;
	margin: 0 auto;
}
.social-buttons a img{
	height: 30px;
	width: auto
}
.social-buttons a{
	float: left;
	padding:10px;
}